<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header.html :: head('Individual Post Index')">
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>

<div class="card w-25 p-3">
    <div class="card-body text-center">
    <h1 class="mb-2">Below is the view of the individual post: </h1>
    <h2 th:text="${individualPost.title}" class="text-primary"></h2>
    <h4 th:text="${individualPost.body}"></h4>
    </div>
</div>

<footer th:replace="partials/footer.html :: footer"></footer>
</body>
</html>