<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-light bg-light">
    <div class="container-fluid row">
            <h1><a class="navbar-brand">Posti Website</a></h1>

            <div class="d-flex justify-content-end">
                <a href="/posts" class="me-4"> View All Posts </a>
                <a href="/posts/create" class="me-4"> Create Post </a>

                <div sec:authorize="isAuthenticated()">
                    This content is only shown to authenticated users.

                    User ID: <span th:text="${#authentication.principal.id}"/>
                    Username: <span th:text="${#authentication.principal.username}"/>
                    Email: <span th:text="${#authentication.principal.email}"/>
                </div>
                <ul>
                    <!-- More links here... -->
                    <li>
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                        </form>
                    </li>
                </ul>

            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            </div>
    </div>
</nav>
</body>
</html>