<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-light bg-light">
    <div class="container-fluid row">
        <h1><a class="navbar-brand" href="/posts">Posti Website</a></h1>

        <div class="d-flex justify-content-end">
            <a href="/posts" class="me-4"> View All Posts </a>
            <a href="/posts/create" class="me-4"> Create Post </a>

            <form th:action="@{/login}" th:method="post" class="me-4">
                <button class="btn-link btn p-0">Login</button>
            </form>

                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn p-0 me-4">Logout</button>
                    </form>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
        </div>
    </div>
</nav>
</body>
</html>