<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header.html :: head('roll-dice')">
    <meta charset="UTF-8">
    <title>Roll-Dice</title>
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>

<h4>Please click on your number below to see if it matches the dice roll: </h4>

    <a th:href="@{/roll-dice/1}">1</a>
    <a th:href="@{/roll-dice/2}">2</a>
    <a th:href="@{/roll-dice/3}">3</a>
    <a th:href="@{/roll-dice/4}">4</a>
    <a th:href="@{/roll-dice/5}">5</a>
    <a th:href="@{/roll-dice/6}">6</a>


<h5 th:text="${userGuess}"></h5>
<h5 th:text="${roll}"></h5>
<h5 th:text="${comparison}"></h5>

<footer th:replace="partials/footer.html :: footer"></footer>
</body>
</html>